@import 'tailwindcss';

:root {
}

@layer base {
  * {
    @apply font-sans;
  }
}

@supports not (font-variation-settings: normal) {
  html {
    font-family: var(--font-inter);
    color: azure;
  }
}

html {
  font-family: var(--font-inter);
  color: azure;
}
